{
  "cli": {
    "version": ">= 15.0.12",
    "appVersionSource": "local"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "ios": {
        "simulator": true
      },
      "android": {
        "buildType": "apk"
      }
    },
    "production": {
      "autoIncrement": false,
      "env": {
        "API_BASE_URL": "XXXX",
        "API_KEY_INI": "XXXX",
        "GOOGLE_MAP_API_KEY_FOR_ANDROID": "XXXX",
        "GOOGLE_MAP_API_KEY_FOR_IOS": "XXXX",
        "PROJECT_ID": "XXXX",
        "GOOGLE_OAUTH_CLIANT_ID": "XXXX",
        "GOOGLE_OAUTH_CLIANT_ID_ANDROID": "XXXX",
        "GOOGLE_OAUTH_CLIANT_ID_IOS": "XXXX",
        "GOOGLE_OAUTH_CLIANT_ID_WEB": "XXXX",
        "ANDROID_APP_ID": "XXXX",
        "REWARDED_ANDROID_UNIT_ID": "XXXX",
        "IOS_APP_ID": "XXXX",
        "REWARDED_IOS_UNIT_ID": "XXXX"
      }
    },
    "preview": {
      "distribution": "internal",
      "extends": "production",
      "ios": {
        "simulator": true
      },
      "android": {
        "buildType": "apk"
      }
    }
  },
  "submit": {
    "production": {}
  }
}
